<!--<main class="main">
  <app-header></app-header>
  <app-fruits></app-fruits>
  <h1 class="h1demo">{{count$.pipe}}</h1>/>
  <app-button-click [title]="'demo'" (dataEvent)="handleClick($event)"></app-button-click>
  <router-outlet></router-outlet> 

</main>
 -->
<!-- <div class="flex flex-row">
  <div class="bg-black basis-1/4">01</div>
  <div class="flex flex-col flex-1">
    <div class="bg-red-400">01</div>
    <div class="bg-green-400">02</div>
    <div class="bg-yellow-400">03</div>
  </div>
</div> -->
<!-- <div class="flex flex-nowrap min-w-30 bg-blue-50">
  <div class="bg-red-400 min-h-32 min-w-32">01</div>
  <div class="bg-green-400 min-h-32 min-w-32">02</div>
  <div class="bg-yellow-400 min-h-32 min-w-32">03</div>
  <div class="bg-red-400 min-h-32 min-w-32">01</div>
  <div class="bg-green-400 min-h-32 min-w-32">02</div>
  <div class="bg-yellow-400 min-h-32 min-w-32">03</div>
  <div class="bg-red-400 min-h-32 min-w-32">01</div>
  <div class="bg-green-400 min-h-32 min-w-32">02</div>
  <div class="bg-yellow-400 min-h-32 min-w-32">03</div>
  <div class="bg-red-400 min-h-32 min-w-32">01</div>
  <div class="bg-green-400 min-h-32 min-w-32">02</div>
  <div class="bg-yellow-400 min-h-32 min-w-32">03</div>
  <div class="bg-red-400 min-h-32 min-w-32">01</div>
  <div class="bg-green-400 min-h-32 min-w-32">02</div>
  <div class="bg-yellow-400 min-h-32 min-w-32">03</div>
</div> -->

<div class="flex">
  <div class="flex-none w-14 ...">
    <div class="bg-yellow-400">03</div>
  </div>
  <div class="flex-initial w-64 ...">
    <div class="bg-green-400">02</div>

  </div>
  <div class="flex-initial w-32 ...">
    <div class="bg-red-400">01</div>

  </div>
</div>
<!-- <div class="flex flex-row h-screen">
  <input type="text" [(ngModel)]="messageInput">
  {{messageInput}}
  <div class="flex basic-1/4">
    <app-button-click></app-button-click>
  </div>
 

  <div class="flex-1 flex flex-col">
    <div class="bg-green-400 " >02</div>
    <div class="pl-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->